<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NV ADMIN | LOGIN</title>
    <style>
        body {
            background-color: #333;
            color: #fff;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            background-color: #444;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            max-width: 300px;
            width: 100%;
        }

        input[type="text"],
        input[type="password"],
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: none;
            border-radius: 5px;
            background-color: #555;
            color: #fff;
            font-size: 16px;
            box-sizing: border-box;
        }

        button {
            cursor: pointer;
            background-color: #007bff;
        }

        p.error-message {
            color: rgb(248, 151, 151);
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit">Login</button>
        <% if(errorMessage) { %>
            <p class="error-message"><%= errorMessage %></p>
        <% } %>
    </form>
</body>
</html>
